.logo {
  max-height: 50px;
}

body {
  padding-top: 3.5rem;
}

.warning {
  color:darkorange;
  font-size: 2rem;
}

.danger {
  color:red;
  font-size: 2rem;
}

.okay {
  color:green;
  font-size: 2rem;
}

.main-container {
  padding-top:50px;
}